<div class="container center">
  <div class="page-center">
    <div style="justify-items: center;">
      <header class="header">
        <h2>{{ isEdit ? 'Edit' : 'New' }} Appointment</h2>
      </header>
    
      <form class="form-select" (ngSubmit)="save()">
        <div style="width: 60%;">
          <div class="select-group">
            <label for="doctor">Doctor</label>
            <select [(ngModel)]="appointment.doctorId" name="doctorId" required>
              <option [ngValue]="null">-- Select Doctor --</option>
              <option *ngFor="let doc of doctors" [ngValue]="doc.id">
                {{ doc.fullName }}
              </option>
            </select>
          </div>
      
          <div class="select-group">
            <label for="patient">Patient</label>
            <select [(ngModel)]="appointment.patientId" name="patientId" required>
              <option [ngValue]="null">-- Select Patient --</option>
              <option *ngFor="let p of patients" [ngValue]="p.id">
                {{ p.fullName }}
              </option>
            </select>
          </div>
      
          <div class="select-group">
            <label for="date">Date</label>
            <input
              type="datetime-local"
              [(ngModel)]="appointment.date"
              name="date"
              required
            />
          </div>
      
          <div class="select-group">
            <label for="status">Status</label>
            <select [(ngModel)]="appointment.status" name="status" required>
              <option value="">Select Status</option>
              <option value="Scheduled">Scheduled</option>
              <option value="Cancelled">Cancelled</option>
              <option value="Completed">Completed</option>
            </select>
          </div>
      
          <div class="form-actions">
            <button type="submit" class="apply-btn long-btn">
              {{ isEdit ? 'Update' : 'Save' }} Appointment
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
